# --- 기존 f110_gym 핵심 의존성 ---
gym==0.21.0

numpy<=1.22.0,>=1.18.0
Pillow>=9.0.1
scipy>=1.7.3
numba>=0.55.2
pyyaml>=5.3.1
pyglet<1.5
pyopengl

filterpy
scikit-learn
scikit-image
matplotlib
h5py
einops
glob2
utm
easydict
tqdm
lxml
opencv-python
catkin_pkg

# --- 외부 Git 저장소 ---
git+https://github.com/DanielPollithy/pypcd.git