<launch>
	<arg name="input" default="/dev/video0"/>
	<arg name="input_width" default="0"/>
	<arg name="input_height" default="0"/>
	<arg name="input_codec" default="unknown"/>
	<arg name="input_loop" default="0"/>
    <arg name="output_topic" default="/left/raw"/>

	<node pkg="ros_deep_learning" exec="video_source" output="screen">
		<param name="resource" value="$(var input)"/>
		<param name="width" value="$(var input_width)"/>
		<param name="height" value="$(var input_height)"/>
		<param name="loop" value="$(var input_loop)"/>
		<!-- topic remapping -->
    	<remap from="/video_source/raw" to="$(var output_topic)"/>

	</node>

</launch>
